#contentStyle{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

#cardStyle {
    justify-content: space-around;
    padding: auto 15px;
}

#headerStyling{
  margin-top: 150px;
  color: white;
  font-weight: bold !important;
}

#searchBarDiv{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}